html {	
    box-sizing: border-box;
    font-family: Helvetica;
    font-size: 20px;	
}

*, *:before, *:after {	
    box-sizing: inherit;	
}	

body {
    background-color: rgb(15, 187, 104);
}

#main_div {
    padding-left: 5px;
    padding-right: 5px;
}

#barn_photo {
    border-radius: 5px;
    margin-top: 10px;
    height: 10em;
    width: 100%;
}

/* navigation bar */
#navbar {
    border-radius: 5px;
    height: 2em;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgba(33, 255, 85, 0.541);
}

#navbar a:link {
    color:black;
    text-decoration: none;
  }
  
  #navbar a:visited {
    color: black;
    text-decoration: none;
  }

  #navbar a:hover {
    color: red;
  }
  
  #navbar a:active {
    color: yellow;
  }
  
ul {

    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    list-style-type: none;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
/* navigation bar end */

.social_links {	
    transition: transform .2s;	
    margin: 0 auto;
    margin-top: 15px;
    margin-left: 15px;
}	
    
.social_links:hover {	
    transform: scale(1.5);	
}


#map {
    margin-top: 10px;
    
}


/* Up is mobile */

/* Down is 768 */












@media (min-width: 768px) {	
    #main_div {	
        padding-left: 30px;	
        padding-right: 30px;	
    }
    #barn_photo {
        height: 10em;
        width: 100%;
    }		
   	



}
/* Up is 768 */

/* Down is laptop */








@media (min-width: 1024px) {
    #main_div {	
        margin-top: 20px;
        padding-left:  150px;	
        padding-right: 150px;	
    }
    #barn_photo {
        height: 20em;
        width: 100%;

    }
}
  
}











/* Up is laptop */

/* Down is large screen */










@media (min-width: 1440px) {

    #main_div {	
        margin-top: 20px;
        padding-left: 250px;	
        padding-right: 250px;	
    }

    #barn_photo {
        height: 10em;
        width: 100%;
    }
}






/* Up is large screen */

/* Down is 4k */






@media (min-width: 2560px) {

    #main_div {	
        margin-top: 20px;
        padding-left: 350px;	
        padding-right: 350px;	
    }

    #barn_photo {
        height: 28em;
        width: 100%;
    }
}